doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Michael Savin')

        title Michael Savin

        // Favicon
        link(rel='icon', type='image/svg', href='assets/img/favicon.svg')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Page content
        .container
            .text-center.mt-5
                h1
                    b Michael Savin
                p.lead
                    b SRE / DevOps / CloudOps
            .text-center.mt-5
                p.lead
                    a(href='https://savinmi.ru', target="_blank").mb-2
                        | @cv
                    ||
                    a(href='https://www.linkedin.com/in/jtprogru', target="_blank").mb-2
                        | @linkedin
                    ||
                    a(href='https://t.me/jtprogru', target="_blank").mb-2
                        | @telegram
                    ||
                    a(href='https://github.com/jtprogru', target="_blank").mb-2
                        | @github
                    ||
                    a(href='https://twitter.com/jtprogru', target="_blank").mb-2
                        | @twitter
                    ||
                    a(href='https://jtprog.ru', target="_blank").mb-2
                        | @blog
                p.lead
                    a(href='https://t.me/jtprogru_chat', target="_blank").mb-2
                        | @jtprogru_chat
                    ||
                    a(href='https://t.me/jtprogru_channel', target="_blank").mb-2
                        | @jtprogru_channel
                    ||
                    a(href='https://t.me/michael_behind_lens', target="_blank").mb-2
                        | @michael_behind_lens

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
        // Scripts
        script(src='js/scripts.js')
