body {
    background-color: $personal;
    color: $grayc;
}

@include media-breakpoint-up(lg) {
    body {
        padding-top: 6rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: lowercase;
    padding-top: 3rem;
    color: $gray600;
}

h1 {
    color: $grayc;
    line-height: 1;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 600;
}

li,
p {
    color: $grayc;
    font-size: 1rem;
    font-weight: 400;
}

li b {
    color: $grayc;
}

a {
    color: $graya;
}

a:hover {
    color: $grayf;
}

h1 span.text-family {
    color: $secondary !important;
}
