// Pre-state grayscale colors used in other variables
$gray100: #1c1c1c;
$gray200: #2c2c2c;
$gray300: #3c3c3c;
$gray400: #4c4c4c;
$gray600: #6c6c6c;
$gray800: #8c8c8c;
$graya: #acacac;
$grayc: #cccccc;
$grayf: #fcfcfc;

$personal: #1d1e20;

$primary: $personal;
$secondary: $grayc;
